<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa6a6a">  <td>20/07/18 11:30:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Ex04_Alerts_NG.beforeTest()[pri:0, instance:day5.Ex04_Alerts_NG@56528192]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="7a7f8f">  <td>20/07/18 11:30:57</td>   <td>11136</td> <td>&nbsp;</td><td title="&gt;&gt;Ex09_SampleDropDown_NG.beforeTest()[pri:0, instance:day5.Ex09_SampleDropDown_NG@6e0dec4a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="aa6a6a">  <td>20/07/18 11:31:02</td>   <td>16847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ex04_Alerts_NG.Alerts()[pri:0, instance:day5.Ex04_Alerts_NG@56528192]">Alerts</td> 
  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="7a7f8f">  <td>20/07/18 11:31:06</td>   <td>20999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ex09_SampleDropDown_NG.dropdown()[pri:0, instance:day5.Ex09_SampleDropDown_NG@6e0dec4a]">dropdown</td> 
  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="aa6a6a">  <td>20/07/18 11:31:16</td>   <td>30364</td> <td>&nbsp;</td><td title="&lt;&lt;Ex04_Alerts_NG.afterTest()[pri:0, instance:day5.Ex04_Alerts_NG@56528192]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="7a7f8f">  <td>20/07/18 11:31:17</td>   <td>31264</td> <td>&nbsp;</td><td title="&lt;&lt;Ex09_SampleDropDown_NG.afterTest()[pri:0, instance:day5.Ex09_SampleDropDown_NG@6e0dec4a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1219402581</td>   <td></td> </tr>
</table>
