<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>sequencingNG.ShowGrouping</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testonlyforfullregression</td>
<td>fullregressiontest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testforboth</td>
<td>sanitytest fullregressiontest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testonlyforsanity</td>
<td>sanitytest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
