<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanitytest</td><td>ShowGrouping.testonlyforsanity()[pri:0, instance:sequencingNG.ShowGrouping@6ac13091]<br/></td></tr>
</table>
